// Buttons
.grnBtn,
.confirmBtn,
.cnclBtn,
.enterRoomBtn {
  margin: 10px 0;
  padding: 12px 12px;
  background: #31a24c;
  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
}

.cnclBtn {
  background: #cf4242;
}

.cnclBtn:hover {
  background: #963232;
}

.algnCtr,
.confirmBtn {
  align-self: center;
}

.grnBtn:hover,
.confirmBtn:hover {
  background: #156628;
}

.enterRoomBtn {
  font-size: 28px;
  padding: 24px 12px;
}
