.loginContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 500px;
}

.textInput {
  padding: 24px 12px;
  border-radius: 7px;
  font-size: 24px;
  margin: 30px 0 10px 0;
}

.textInput:focus {
  outline: none;
}
